.top_container{
    background-color: #ffd700;
}

.navbar-toggler{
    color: white !important;
    outline: none !important;
}
.navbar-toggler-icon{
    background-color: red  !important;
    color: white !important;
    border-color: white;
}
.btn{
    height: 30px !important;
    padding: 3px !important;
    font-size: 13px;
    padding: 3px 8px !important;
}

.chip_container > .btn {
    height: 40px !important;
    font-size: 15px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 5px 12px !important;
    border-radius: 30px;
    border-color: transparent !important;
}

.chip_container > .btn:hover{
    background-color: rgba(255, 255, 255 , 0.4) !important;
    color: white !important;
}

.nav-item>h1 ,h4{
    padding-bottom: 30px;
    padding-top: 13px;
}
.card{
    border-color: transparent;
    padding: 3px;
    font-weight: bold;
}
.items{
    text-align: center;
    padding: 5px;
    margin: 3px;
    margin-inline: 5px;
}
.container-fluid >img{
    justify-content: center;
    align-items: center;
}
.center {
    padding-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    filter: grayscale(1) brightness(0);
  }
  .carousel-item{
    height: 450px;
    width: 100%;

  }
  .image{
    height: 550px;
  }
  body{
    background-color: #ffd700;
  }
